<div class="full_size" id="full_size">
	<img type="button" id="close_full" class="close_button" src="/images/delete.png">
	<button class="prev_next slider_button" id="prev_slide" type="button">
		<img src="/images/prev.png" class="prev_next_img">
	</button>
	<button class="prev_next slider_button" id="next_slide" type="button">
		<img src="/images/next.png" class="prev_next_img">
	</button>
	<div class="slider_tools">
		<div class="tools_wrapper">
			<img class="tool_button" src="/images/like.png">
		</div>
	</div>
	<div class="full_photo" id="full_photo"></div>
	<div class="preview_wrapper" id="full_preview"></div>
	<div class="comments">
		<p class="text_header green">Comments</p>
		<div class="comment_list" id="comment_list">
			
		</div>
		<textarea class="comment_input" id="comment_input" placeholder="Type your comment here"></textarea>
	</div>
</div>
<div class="form_wrapper" id="profile_form_wrapper">
	<form class="login_form" id="profile_form" action="/users/update" method="POST">
		{{#user}}
		<h1 class="text_header" id="form_header">{{ login }}'s Profile</h1>
		<h3 class="text_header green">{{ login }}'s Photo</h3>
		<div class="album_preview">
			<button class="prev_next" id="prev" type="button">
				<img src="/images/prev.png" class="prev_next_img">
			</button>
			<input type="hidden" id="delta" value="0">
			<div class="preview_wrapper" id="preview_cont">
				
			</div>
			<button class="prev_next" id="next" type="button">
				<img src="/images/next.png" class="prev_next_img">
			</button>
		</div>
		<label for="upload">New image</label><input type="file" class="form_field profile_input" name="upload" id="upload">
		<button type="button" id="confirm_upload">
			<img src="/images/ok.png" class="ok_img">
		</button><br>
		<br><input type="hidden" name="user_id" id="user_id" value="{{ id }}">
		<label for="login">Login:</label><input type="text" class="form_field profile_input" id="login" name="login" minlength="4" value="{{ login }}" required><br>
		<span class="error profile_error" id="login_error">User already exists</span>
		<label for="first_name">First Name:</label><input type="text" class="form_field profile_input" id="first_name" name="first_name" value="{{ first_name }}" minlength="3"><br>
		<label for="last_name">Last Name:</label><input type="text" class="form_field profile_input" id="last_name" name="last_name" value="{{ last_name }}" minlength="3" ><br>
		<label for="email">Email:</label><input type="email" class="form_field profile_input" id="email" name="email" value="{{ email }}"><br>
		<span class="error profile_error" id="email_error">User already exists</span>
		<label for="about">About:</label><textarea class="form_field profile_input" id="about" name="about">{{ about }}</textarea><br>
		{{/user}}
		{{#if is_owner }}
			<button type="submit" class="submit_button" id="save_changes"><strong class="button_text">Save</strong></button>
		{{/if}}
	</form>

</div>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<script type="text/javascript" src="/js/auth/valid.js"></script>
<script type="text/javascript" src="/js/profile/valid.js"></script>
<script type="text/javascript" src="/js/profile/helpers.js"></script>
<script type="text/javascript" src="/js/profile/logic.js"></script>
<script type="text/javascript" src="/js/profile/listeners.js"></script>

