<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<script src="http://localhost:3001/socket.io/socket.io.js"></script>
</head>
<body>
	<div class="header">
		<img class="logo" onclick="location.href='/'" src="/images/logo.png">
		<div class="header_tools">
			{{# if login}}
			{{ else if logged_user }}
				{{# if friends }}
				{{ else }}
					<img class="header_icon" id="friends_button" onclick="location.href='/users/friends'" src="/images/friends.png">
				{{/if}}
				<button class="header_icon" id="requests_button" onclick="requests_visible();"><strong id="req_qty">0</strong></button>
				<img class="header_icon" id="logout_icon" onclick="location.href='/users/logout'" src="/images/logout.png">
				<a id="profile_link" href="/users/profile/{{ logged_user }}"></a>
				<script type="text/javascript">
					// var socket = require("socket.io-client");
					// client.connect("http://localhost:3001");
					// client.emit("chat message", "foo");
// client.connect("http://localhost:3001");
// client.emit("test", "foo");
					var current_user = false;
					var socket = io.connect('http://localhost:3001');

					$.get('/users/ajax', {action: 'current_user'}, function(res) {
						if (!res.success)
							console.log(res.error);
						else {
							current_user = res.data;
							socket['user_id'] = current_user.id;
						}
					});
					// var socket = io.connect('http://localhost:3001');
					// var socket = io.connect('http://localhost:3001', {user_id: current_user ? current_user.id : false});
					console.log(socket);
					
					var id = '{{ logged_user }}';
					

					$.get('/users/ajax', {id: id, action: 'get_user'}, function(result) {
						if (!result)
							return ;
						document.getElementById('profile_link').innerHTML = result.login;
						if (result.admin) {
							var cont = document.getElementsByClassName('header_tools')[0];
							cont.innerHTML = '<img class="header_icon" id="admin_link" onclick="location.href=' + "'/admin'" +
								'" src="/images/admin.png">' + cont.innerHTML;
						}
					});
				</script>
			{{ else }}
				<img class="header_icon" onclick="location.href='/users/login'" src="/images/login.png">
			{{/if}}
		</div>
		<div class="requests_cont" id="requests_cont">Test</div>
	</div>
	<div class="fog" id="fog">
		<div class="confirm_window">
			<h2 class="text_header error_text" id="confirm_question">Do you really want to do it?</h2>
			<input type="hidden" id="action" value="">
			<input type="hidden" id="action_data" value="">
			<button class="confirm_button" id="yes_button"><strong>Yes</strong></button>
			<button class="confirm_button" id="no_button"><strong>No</strong></button>
		</div>
		<div class="confirm_result">
			<h2 class="text_header"></h2>
			<button class="submit_button" id="confirm_close"><strong class="button_text">Back</strong></button>
		</div>
	</div>
	<div class="main_cont">
		{{{ body }}}
	</div><br>
	
</body>
	<div class="footer">
		<div class="contacts">
			<strong class="text_header" id="contact_header">Contact us:</strong><br><br>
			<div class="label_wrapper">
				<strong class="contact_text">Address:</strong><br>
				<strong class="contact_text">Telephone:</strong><br>
				<strong class="contact_text">e-mail:</strong><br>
			</div>
			<div class="text_wrapper">
				<span class="contact_text">Ukraine, Kyiv, 3 Dorohozhytska str. UNIT FACTORY</span><br>
				<span class="contact_text">+38 (063) 754-15-69</span><br>
				<span class="contact_text">white_men@bigmir.net</span><br>
				<span class="contact_text">2018 Created by Roman Malyavchik</span><br>
			</div>
		</div>
	</div>
	{{# if logged_user }}
		<script type="text/javascript" src="/js/basic/logic.js"></script>
		<script type="text/javascript" src="/js/basic/listeners.js"></script>
		<script type="text/javascript" src="/js/basic/helpers.js"></script>
	{{/if}}
</html>