<div class="full_size" id="choose_avatar">
	<div class="fog" id="avatar_fog">
		<div class="confirm_window">
			<h2 class="text_header error_text" id="confirm_question">Do you really want to choose this image?</h2>
			<!-- <input type="hidden" id="action" value=""> -->
			<!-- <input type="hidden" id="avatar_id" value=""> -->
			<button class="confirm_button" id="yes_avatar"><strong>Yes</strong></button>
			<button class="confirm_button" id="no_avatar"><strong>No</strong></button>
		</div>
	</div>
	<img id="close_avatar" class="close_button" src="/images/close.png">
	<p class="text_header green">Choose photo for avatar</p>
	<div class="choose_avatar_wrapper" id="choose_avatar_wrapper"></div>
</div>
<div class="full_size" id="full_size">
	<div class="fog" id="del_fog">
		<div class="confirm_window">
			<h2 class="text_header error_text" id="confirm_question">Do you really want to delete this image?</h2>
			<button class="confirm_button" id="yes_del"><strong>Yes</strong></button>
			<button class="confirm_button" id="no_del"><strong>No</strong></button>
		</div>
	</div>
	<img type="button" id="close_full" class="close_button" src="/images/close.png">
	<button class="prev_next slider_button" id="prev_slide" type="button">
		<img src="/images/prev.png" class="prev_next_img">
	</button>
	<button class="prev_next slider_button" id="next_slide" type="button">
		<img src="/images/next.png" class="prev_next_img">
	</button>
	<div class="slider_tools">
		<div class="tools_wrapper">
			<img class="tool_button" src="/images/delete.png" id="del_photo">
			<img class="tool_button" src="/images/like.png" id="like_button">
			<strong class="like_qty" id="like_qty"></strong>
		</div>
	</div>
	<div class="full_photo" id="full_photo"></div>
	<div class="preview_wrapper" id="full_preview"></div>
	<div class="comments">
		<p class="text_header green">Comments</p>
		<div class="comment_list" id="comment_list">
			
		</div>
		<textarea class="comment_input" id="comment_input" placeholder="Type your comment here"></textarea>
	</div>
</div>
<div class="form_wrapper" id="profile_form_wrapper">
	<form class="login_form" id="profile_form" action="/users/update" method="POST">
		{{#user}}
		<h1 class="text_header" id="form_header">{{ login }}'s Profile</h1>
		<h3 class="text_header green">{{ login }}'s Photo</h3>
		<div class="rel_flex" id="status_cont">
			<img id="user_status" class="tool_button disconnected" src="/images/close.png">
			<span id="last_seen">Last seen: </span>
		</div>
		<div class="rel_flex">
			<span>Fame Rating:&nbsp;&nbsp;</span><strong class="green" id="fame_rating"></strong>
		</div>
		<div class="album_preview">
			<button class="prev_next" id="prev" type="button">
				<img src="/images/prev.png" class="prev_next_img">
			</button>
			<input type="hidden" id="delta" value="0">
			<div class="preview_wrapper" id="preview_cont">
				
			</div>
			<button class="prev_next" id="next" type="button">
				<img src="/images/next.png" class="prev_next_img">
			</button>
		</div>

		<label for="upload">New image</label><input type="file" class="form_field profile_input" name="upload" id="upload">
		<button type="button" id="confirm_upload">
			<img src="/images/ok.png" class="ok_img">
		</button><br>
		<br><input type="hidden" name="user_id" id="user_id" value="{{ id }}">
		<div class="profile_avatar_wrapper"><label for="avatar">Avatar:</label><img class="profile_avatar" id="profile_avatar" src="/images/avatar.png"></div>
		<label for="login">Login:</label><input type="text" class="form_field profile_input" id="login" name="login" minlength="4" value="{{ login }}" required><br>
		<span class="error profile_error" id="login_error">User already exists</span>
		<label for="first_name">First Name:</label><input type="text" class="form_field profile_input" id="first_name" name="first_name" value="{{ first_name }}" minlength="3"><br>
		<label for="last_name">Last Name:</label><input type="text" class="form_field profile_input" id="last_name" name="last_name" value="{{ last_name }}" minlength="3" ><br>
		<label for="email">Email:</label><input type="email" class="form_field profile_input" id="email" name="email" value="{{ email }}"><br>
		<span class="error profile_error" id="email_error">User already exists</span>
		<label for="age">Age:</label><input type="number" class="form_field profile_input" id="age" name="age" value="{{ age }}" min="12" max="120"><br>
		<label for="gender">Gender:</label><select class="form_field profile_input" name="gender" id="gender">
			<option value=""></option>
			<option value="Male" {{#selected gender "Male"}}{{/selected}}>Male</option>
			<option value="Female" {{#selected gender "Female"}}{{/selected}}>Female</option>
			<option value="Other" {{#selected gender "Other"}}{{/selected}}>Other</option>
		</select><br>
		<label for="orientation">Orientation:</label><select class="form_field profile_input" name="orientation" id="orientation">
			<option value=""></option>
			<option value="Heterosexual" {{#selected orientation "Heterosexual"}}{{/selected}}>Heterosexual</option>
			<option value="Homosexual" {{#selected orientation "Homosexual"}}{{/selected}}>Homosexual</option>
			<option value="Bisexual" {{#selected orientation "Bisexual"}}{{/selected}}>Bisexual</option>
			<option value="Asexual" {{#selected orientation "Asexual"}}{{/selected}}>Asexual</option>
			<option value="Other" {{#selected orientation "Other"}}{{/selected}}>Other</option>
		</select><br>
		<label for="city">City:</label><input type="text" class="form_field profile_input" id="city" name="city" value="{{ city }}" onfocusout="valid_city(true)"><br>
		<span class="error profile_error" id="city_error">City is not found</span>
		<input type="hidden" name="latitude" id="latitude" value="{{ latitude }}">
		<input type="hidden" name="longitude" id="longitude" value="{{ longitude }}">
		<label for="about">About:</label><textarea class="form_field profile_input" id="about" name="about">{{ about }}</textarea><br>
		{{/user}}
		<!-- <label for="hashtags">#HashTags:</label> -->
		<div class="form_field profile_input tag_cont" id="hashtags">
			<h3 class="text_header">HashTags</h3>
			<div class="tag_list" id="tag_list"></div>
			{{#if is_owner }}
			<div class="rel_flex" id="new_tag_cont">
				<input type="text" class="form_field new_hashtag" name="new_hashtag" id="new_hashtag" placeholder="Type new hashtag">
				<button type="button" class="submit_button" id="add_hashtag"><span class="button_text">Add</span></button>
			</div>
			<span class="error_text">Not a valid hashtag</span>
			{{/if}}
		</div>
		{{#if is_owner }}
			<button type="button" class="submit_button" id="save_changes" onclick="$('#profile_form').submit();"><strong class="button_text">Save</strong></button>
		{{ else if logged_user }}
			<div class="tools_wrapper">
				<img class="tool_button" src="/images/add_friend.png" id="add_friend">
				<img class="tool_button" src="/images/close.png" id="block_user">
			</div>
			<!-- <img class="" -->
		{{/if}}
	</form>
</div>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<script type="text/javascript" src="/js/auth/valid.js"></script>
<script type="text/javascript" src="/js/profile/valid.js"></script>
<script type="text/javascript" src="/js/profile/helpers.js"></script>
<script type="text/javascript" src="/js/profile/logic.js"></script>
<script type="text/javascript" src="/js/profile/listeners.js"></script>

